@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/* Reset default styles */
html, body, h1, h2, p, div, section {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Set the background color and font for the entire page */
body {
    background-color: #E7CFBC;
    font-family: Arial, sans-serif;
    background-color: #f4e69b; 
    background-size: cover;
    background-attachment: fixed; /* Keeps the background fixed as you scroll */
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9; /* Adjust the opacity value as needed */
}

/* Header styles */
header {
    background-color: #f06244;
    color: #FFF4EC;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFF4EC;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Image upload section styles */
#imageUpload {
    text-align: center;
    margin-bottom: 20px;
}

#analyzeButton {
    background-color: #C98686;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#analyzeButton:hover {
    background-color: #F2B880;
}

/* Results section styles */
#results {
    text-align: center;
}

#resultImage img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid #f06244;
    border-radius: 5px;
}

#damageStatus {
    font-weight: bold;
    margin-top: 20px;
}

/* Footer styles */
footer {
    background-color: #f06244;
    color: #FFF4EC;
    text-align: center;
    padding: 10px;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: whiet;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #f06244;
    color: black;
  }

/* Industrial-themed styling */
/* You can add more specific industrial-themed styles as needed */
