<html>
<head>
    <title>Login And Registration Form</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <div class="social-icons">
                <img src="fb.png">
                <img src="tw.png">
                <img src="gp.png">
            </div>
            <form id="login"class="input-group">
                <input type="text" class="input-field" placeholder="User ID" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box"><span>Remeber Password</span>
                <button type="submit" class="submit-btn">Log In</button> 
            </form>
            <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="User ID" required>
                <input type="email" class="input-field" placeholder="Email ID" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
                <button type="submit" class="submit-btn">Register</button> 
            </form>
        </div>
    </div>
    <script>
        var x = document.getElementbyId("login");
        var y = document.getElementbyId("register");
        var z = document.getElementbyId("btn");
        function register(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
        function login(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0";
        }
    </script>
</body>
</html>